* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1.5;
}

header {
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
  color: blue;
  font-size: 50px;
  }

  .form {
    padding: 10px;
  }

main {
    justify-content: center;
    align-items: center;
    display: flex;
}

.for1 {
    color: black;
    font-size: 15px;
    padding: 0px 50px 16px 50px; 
    background-color: bisque;
  }

  .for2 {
    background-color: aquamarine;
    color: rgb(34, 33, 33);
    padding: 0px 50px 0px 50px; 
  }